<% pubsub_server || raise ArgumentError, "subscribe/1 requires pubsub_server: to be set in ecto_context. Pass it explicitly: ecto_context schema: #{inspect(schema)}, pubsub_server: MyApp.PubSub do" %>
  @doc """
  Subscribes the current process to `<%= singular %>` events for the given `scope`.
  """
  def subscribe(scope) when is_map(scope) do
    key = (<%= inspect(topic_key) %>).(scope)
    Phoenix.PubSub.subscribe(<%= inspect(pubsub_server) %>, "#{key}:<%= singular %>")
  end
